* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
}

@font-face {
    font-family: luigi;
    src: url(fonts/SuperMario256.ttf);
}

.rows {
    width: 100%;
}

.row:first-child {
    background-color: #ffda09;
    height: 10%;
}