.header {
    grid-area: head;
    display: flex;
    height: 200px;
    align-items: center;
    background-color: #111;
    font-family: Helvetica, sans-serif;
    margin-bottom: 0;
}

.header > img {
    height: 100%;
    width: auto;
    margin-right: 20px;
}

.header > a {
    color: firebrick;
    text-decoration: none;
}