* {
    box-sizing: border-box;
    color: white;
}

body {
    background-color:#475c73;
    width: 100vw;
    height: 100vh;
}

#content {
    padding: 5%;
    margin: 0 auto;
    background-color:#eba824;
    height: 80%;
    width: 80%;
    border-radius: 15px;
    box-shadow: inset 0 0 600px #475c73;
    position: relative;
    top: 9%;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

.formElement {
    margin: 5px;
    width: 35%;
}

select {
    margin: 10px;
}

input {
    margin: 10px;
    background-color: #475c73;
}

input:focus {
    outline: none;
}

#submit {
    box-shadow: 0 8px 6px -6px black;
}
