.footer {
    grid-area: f;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    filter: invert(1);
    padding-bottom: 10px;
}

.footer a {
    padding: 10px;
    transition: filter 1s;
}

.footer a:hover {
    filter: invert(0.5);
}

@media (max-width: 510px) {
    h3{
        font-size: 15px;
    }
}