.services {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

.services-div {
    background-color: brown;
    height: 100vh;
}

.services > a {
    color: white;
    text-decoration: none;
    width: 200px;
}

.services > a:hover {
    text-decoration: underline;
}