* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #325050;
    font-family: 'Libre Baskerville', sans-serif;
}

/* ---------------- HEADER -------------- */

.header {
    background-image: url(images/gridlines.png), url(images/contours@2x.png), url(images/noise.png), url(images/huntington.jpg);
	background-repeat: repeat, repeat, repeat, no-repeat;
	background-attachment: fixed, fixed, fixed, scroll;
    background-size: auto, 50% auto, auto, auto 200%;
    background-color: #325050;
    height: 310px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "t t t t t t s s s";
}

    @media (max-width: 1131px) {
        .header {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "t t t t t t"
                "s s s s s s";
        }
    }

.title {
    grid-area: t;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(http://www.csszengarden.com/214/enso.svg);
    background-repeat: no-repeat;
    background-size: 15%, 15%;
    background-position: 130px 75px;
    line-height: 65px;
}

    @media (max-width: 1131px) {
        .title {
            background-size: 75px, 75px;
            padding-top: 100px;
            background-position: 50% 10%;
            line-height: 40px;
            
        }
    }

    @media (max-width: 631px) {
        .title {
            background-size: 75px, 75px;
        }
    }

.title > h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    position: relative;
    left: 65px;
    font-weight: normal;
    color: white;
}
    @media (max-width: 1131px) {
        .title > h1 {
            left: 0px;
        }
    }

    @media (max-width: 631px) {
        .title > h1 {
            font-size: 2em;
        }
    }

.title > h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: normal;
    color: rgba(255,255,255,0.6);
}



.side {
    grid-area: s;
    background-color: rgba(50, 80, 80, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

    @media (max-width: 1131px) {
        .side {
            margin-top:60px;
            background-color: rgba(255, 255, 255, 0.3);
            height: 70px;
            top: 240px;
            width: 100%;
        }
    }

.view {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    font-family: 'Julius Sans One', serif;
}
    @media (max-width: 1131px) {
        .view {
            background: none;
            width: 100%;
            text-align: center;
        }
    }

.view:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}
    @media (max-width: 1131px) {
        .view:hover {
            background: none;
        }
    }

a {
    text-decoration: none;
    color: white;
}

.view > a:visited {
    text-decoration: none;
}

/* ---------------- CONTENT SECTION ~ ROW 1 -------------- */

.main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
        "sum sum sum sum sum sum des des des"
        "par par par par par par res res res"
        "req req req req req req bl bl bl"
        "foot foot foot foot foot foot foot foot foot"
        "ic ic ic ic ic ic ic ic ic";
}
    @media (max-width: 1131px) {
        .main {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8 1fr);
            grid-template-areas:
            "sum"
            "par"
            "req"
            "foot"
            "ic"
            "des"
            "res";
            
        }
    }

.summary {
    grid-area: sum;
    padding: 50px 100px 50px 141px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
	line-height: 2.2;
	height: auto;
	display: inline-block;
}

    @media (max-width: 1131px) {
        .summary {
            padding: 50px 50px;
        }
    }
    @media (max-width: 432px) {
        .summary {
            max-width: 400px;
            font-size: 13px;
        }
    }


.summary > h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 27px;
    font-style: normal;
}


.designs {
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: center;
    grid-area: des;
    background-color: #e5ede8;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
	height: auto;
}

.designs > ul {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    list-style: none;
    color: #c0cac3;
}
@media (max-width: 1131px) {
    .designs {
        padding: 0;
    }
    .designs > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 100px 100px;
        grid-gap: 15px;
        grid-template-areas:
            "one two"
            "three four"
            "five six"
            "seven last";
        padding-top: 75px;
        margin: 0 auto;
    }

    #li-seven {
        border: none;
    }
}

@media (max-width: 482px) {
    .designs {
        font-size: .75em;
        padding: 2%;
    }
}

#li-one {
    grid-area: one;
}

#li-two {
    grid-area: two;
}

#li-three {
    grid-area: three;
}

#li-four {
    grid-area: four;
}

#li-five {
    grid-area: five;
}

#li-six {
    grid-area: six;
}

#li-seven {
    grid-area: seven;
}

#last-li {
    grid-area: last;
}

.designs > ul > li {
    border-bottom: solid 1px #d9e3dc;
    padding: 20px;
}

#last-li {
    border: none;
}

.design-name {
    font-family: 'Julius Sans One', sans-serif;    
    font-size: 1.5em;
    font-style: normal;
    color: #607476;
}
    .design-name:hover {
        color: #0d8ba1;
    }

.designer-name {
    color: #607476;
}

/* ---------------- CONTENT SECTION ~ ROW 2 -------------- */

.participation {
    grid-area: par;
    padding: 50px 100px 50px 141px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
	line-height: 2.2;
	height: auto;
    display: inline-block;
    background-image: url(images/gridlines-opaque.png), url(images/contours-opaque.png), url(images/bamboo.png);
	background-attachment: scroll, scroll, fixed;
	background-repeat: repeat, repeat, no-repeat;
	background-size: auto, auto, cover;
	background-color: rgba(138,188,159,0.5);
}
    @media (max-width: 1131px) {
        .participation {
            padding: 50px 50px;
        }
    }
    @media (max-width: 432px) {
        .participation {
            max-width: 400px;
            font-size: 13px;
        }
    }

.participation > h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 27px;
    font-style: normal;
}

.resources {
    grid-area: res;
    background-image: url(images/gridlines-opaque.png), url(images/contours-opaque.png), url(images/bamboo.png);
	background-attachment: scroll, scroll, fixed;
	background-repeat: repeat, repeat, no-repeat;
	background-size: auto, auto, cover;
    background-color: rgba(138,188,159,0.6);
    display: flex;
    align-items: flex-start;
    padding: 50px 0;
    justify-content: flex-start;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1.3em;
    padding: 100px 0 100px 10px;
}

@media (max-width: 482px) {
    .resources {
        font-size: 1em;
        padding: 2%;
    }
}

.resources > ul {
    list-style: none;
    font-family: 'Julius Sans One', sans-serif;
}

@media (max-width: 1131px) {
    .resources > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 100px);
        grid-gap: 15px;
        grid-template-areas:
            "fl t"
            "th fo"
            "fi .";
        margin: 0 auto;
    }

    #first-li {
        border-top: none;
    }
}

#first-li {
    grid-area: fl;
    border-top: solid 1px #a0b9ad;    
}

@media (max-width: 1131px) {
    #first-li {
        border-top: none;
    }
}

#two {
    grid-area: t;
}

#three {
    grid-area: th;
}

#four {
    grid-area: fo;
}

#five {
    grid-area: fi;
    border: none;
}

.resources > ul > li {
    border-bottom: solid 1px #a0b9ad;
    padding: 20px;   
}

.resources > ul > li > a {
    color: #607476;
}
/* ---------------- CONTENT SECTION ~ ROW 3 -------------- */
.requirements {
    grid-area: req;
    padding: 50px 100px 50px 141px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
	line-height: 2.2;
	height: auto;
    display: inline-block;
}
    @media (max-width: 1131px) {
        .requirements {
            padding: 50px 50px;
        }
    }
    @media (max-width: 432px) {
        .requirements {
            max-width: 400px;
            font-size: 13px;
        }
    }

.requirements > h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 27px;
    font-style: normal;
}

.blank {
    grid-area: bl;
    background-color: #e5ede8;
}
/* ---------------- CONTENT SECTION ~ ROW 4 -------------- */

.author {
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	background-image: url(images/contours@2x.png), url(images/gridlines.png), url(images/noise.png), url(images/koi.jpg);
	background-size: 50% auto, auto, auto, cover;
	background-attachment: fixed, fixed, fixed, scroll;
	background-repeat: repeat, repeat, repeat, no-repeat;
	background-position: 0 0, -5px -25px, 0 0, 0 50%;
	height: 320px;
	font-family: 'Libre Baskerville', sans-serif;
    vertical-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 2em;
    line-height: 50px;
}

    @media (max-width: 602px) {
        .author {
            font-size: 1em;
            padding: 2%;
        }
    }

.site-designer > p {
	color: rgba(255,255,255,0.6);
	padding: 125px;
}

.site-designer > a {
	color: rgba(255, 255, 255, 0.7)!important;
}

/* ---------------- FOOTER -------------- */

.footer { 
    grid-area: ic;
    height: 176px;
    background: #134347;
    font-family: "Verde Moderna";
    padding-left: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    clear: both;
}

@media (max-width: 896px) {
    .footer {
        padding-left: 1%;
        padding-right: 1%;
    }
}

.child {
    width: 76px;
    height: 76px;
    padding: 76px 0 0 0;
    margin: 0 .5em;
    display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    color: rgba(255, 255, 255, 0.7);
}

.child:hover{
    color: rgba(255, 255, 255, 0.5);
}
.child:visited{
    color: rgba(255, 255, 255, 0.9);
}

.child::before{
    font-family: "Verde Moderna";
    font-size: 72px;
    overflow: visible;
    position: absolute;
    top: 3px;
    left:0;
    text-indent: 0;
    line-height: 1;
}
@media (max-width: 459px) {
    .child::before {
        font-size: 46px;
    }
}
.html:hover::before, .html:focus::before{
    content: "%";
}
.html::before{
    content: "5";
}
.css:hover::before, .css:focus::before{
    content: "#";
}
.css::before{
    content: "3";
}
.a11y:hover::before, .a11y:focus::before{
    content: "A";
}
.a11y::before{
    content: "a";
}
.gh:hover::before, .gh:focus::before{
    content: "G";
}
.gh::before{
    content: "g";
}
.cc:hover::before, .cc:focus::before{
    content: "C";
}
.cc::before{
    content: "c";
}

/* ---------------- FONTS -------------- */
@font-face {
    font-family: "Verde Moderna";
    src: url(fonts/verdemoderna.woff);
}