* {
	box-sizing: border-box;
	margin: 0;
}

header {
	border-top: solid 12px #2d6360;
	background-image: url(images/huntington.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 310px;
	z-index: -1;
}

#top {
	background-image: url(images/gridlines.png);
	background-size: 50%;
	position: fixed;
	width: 100%;
	height: 310;
}
