body {
    height: 2000px;
	color: #325050;
}
.content {
    padding: 0;
}

.header {
	background-image: url(images/gridlines.png), url(images/contours@2x.png), url(images/noise.png), url(images/huntington.jpg);
	background-repeat: repeat, repeat, repeat, no-repeat;
	background-attachment: fixed, fixed, fixed, scroll;
	background-size: auto, 50% auto, auto, cover; 
	height: 310px;
}

.row-1 {
    height: 310px;
    padding-left: 20px;
    color: white;
    font-weight: normal;
}

h1 {
    position: relative;
    margin: 15px 0 0 0;
    padding: 60px 0 5px 0;
    font-family: "Julius Sans One", sans-serif;
    font-size: 3.2em;
}

h2 {
    font-family: 'Libre Baskerville', sans-serif;
    color: rgba(255,255,255,0.6);
    font-size: 1.6em;
    font-style: italic;
}

.dotted {
    text-decoration: none;
    border-bottom: 2px dotted rgba(255,255,255,0.6);
}

#div-custom {
    padding-left: 275px;
    padding-top:20px;
    background-image: url(http://www.csszengarden.com/214/enso.svg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: 15%, 15%;
    background-position: 130px 75px;
}

.row-2 {
    padding: 50px 100px 50px 141px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
	line-height: 2.2;
	height: auto;
	display: inline-block;
}

p {
	font-size: 15px;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;

}

.row-3 {
	padding: 50px 100px 50px 141px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
	line-height: 2.2;
	height: auto;
	background-image: url(images/gridlines-opaque.png), url(images/contours-opaque.png), url(images/bamboo.png);
	background-attachment: scroll, scroll, fixed;
	background-repeat: repeat, repeat, no-repeat;
	background-size: auto, auto, cover;
	background-color: rgba(138,188,159,0.5);
}

.resources {
	padding: 50px 100px 50px 141px;
	margin: 0;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
	line-height: 2.2;
	background-image: url(images/gridlines-opaque.png), url(images/contours-opaque.png), url(images/bamboo.png);
	background-position: contain, contain, contain;
	background-attachment: scroll, scroll, fixed;
	background-repeat: repeat, repeat, no-repeat;
	background-size: auto, auto, cover;
	background-color: rgba(138,188,159,0.5);
}
.row-4 {
	padding: 50px 100px 50px 141px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
	line-height: 2.2;
	height: auto;
	display: inline-block;
}

.side {
    height: 100%;
    background-color: rgba(50, 80, 80, 0.3);
    line-height: 310px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.6em;
    color: white;
	text-decoration: none;
	position: relative;
	z-index: 1;
}
    @media(max-width: 991px) {
        .side {
            height: 20%;
            bottom: 0;
        }
    }

#row-1-2 {
    background-color: #e5ede8;
	height: auto;
	padding: 15px;
}

ul {
	list-style: none;
}

li {
	padding: 24px;
	width: 65%;
	border-bottom: 1px solid #c0cac3;
	font-family: 'Libre Baskerville', sans-serif;
	color: #c0cac3;	
}

#last-li {
	border: none;
}

.resources {
	color: black;
	height: 737px;
}

.design-name {
	font-family: "Julius Sans One", sans-serif;
	font-size: 1.2em;
	color: #607476;
}

.design-name:visited, .designer-name {
	/* color: #1a5952; */
}

.designer-name {
	color: #616857;
	font-family: 'Libre Baskerville', sans-serif;
}

.design-name:hover, .designer-name:hover {
	/* color: #0d8ba1; */
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.empty-div {
	background-color: #e5ede8;
	height: 757px;
}

.site-designer {
	text-align: center;
	background-image: url(images/contours@2x.png), url(images/gridlines.png), url(images/noise.png), url(images/koi.jpg);
	background-size: 50% auto, auto, auto, cover;
	background-attachment: fixed, fixed, fixed, scroll;
	background-repeat: repeat, repeat, repeat, no-repeat;
	background-position: 0 0, -5px -25px, 0 0, 0 50%;
	height: 320px;
	font-family: 'Libre Baskerville', sans-serif;
	vertical-align: center;
}

.site-designer > p {
	font-size: 24px;
	color: rgba(255,255,255,0.6);
	padding: 125px;
}

.site-designer > a {
	color: rgba(255, 255, 255, 0.7)!important;
}

.footer {
	height: 176px;
	background: #134347;
	font-family: "Verde Moderna";
	padding-left: 100px;
	display: flex;
	justify-content: space-around;
	padding-left: 25%;
	padding-right: 25%;
}

.footer > a {
	font-size: 75px;
	line-height: 176px;
	color: rgba(255, 255, 255, 0.7);
}

@font-face {
    font-family: "Verde Moderna";
    src: url(fonts/verdemoderna.woff);
}

